
@font-face {
  font-family: "Glacial Indifference";
  src: url('./glacialindifference-bold_-_copie-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Glacial Indifference";
  src:url('./glacialindifference-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
